.card {
    margin-bottom: 20px;
}

.card img {
    height: 200px;
    object-fit: cover;
}

.sidebar {
    padding: 15px;
    border: 1px solid black;
}

.sidebar h4 {
    margin-top: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding-left: 0px;
}

.sidebar li {
    margin-bottom: 5px;
}

.recent-uploads img {
    margin-bottom: 10px;
    border-radius: 5px;
}